# Credit - AIC

In [13]:
import pandas as pd 
import statsmodels.api as sm
from statsmodels.formula.api import ols
import numpy as np

df = pd.read_csv("Credit.csv").drop("Unnamed: 0", axis=1)

df.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [29]:
predictors = set(df.columns)
predictors.remove("Balance")
selected = []
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 6044.623779894291
Income    5945.89424951724
Age       6042.7099653814885
Gender    6042.526816720648
Education 6042.68531599753
Cards     6039.71020221991
Rating    5494.781548180919
Student   6014.932655583663
Married   6042.698436844525
Limit     5499.982633072284

In [30]:
predictors.remove("Rating")
selected.append("Rating")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 5497.826842320393
Income    5212.557084956779
Age       5484.481339335125
Gender    5496.481639808888
Education 5496.272851468829
Cards     5494.187124192175
Student   5372.23247282282
Married   5494.56954806922
Limit     5496.632982399894

In [31]:
predictors.remove("Income")
selected.append("Income")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 5214.002924134769
Age       5211.113461150543
Gender    5214.521087031826
Education 5213.765644647935
Cards     5214.477534149805
Student   4849.386992312054
Married   5210.930246629177
Limit     5210.950291148072

In [32]:
predictors.remove("Student")
selected.append("Student")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 4851.269143944139
Age       4847.142421862133
Gender    4850.233910771463
Education 4851.254541920882
Cards     4850.381914898289
Married   4850.14712702181
Limit     4832.524008341789

In [33]:
predictors.remove("Limit")
selected.append("Limit")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 4834.763979526386
Age       4830.741531763785
Gender    4833.198085642479
Education 4833.948785435656
Cards     4817.666819825638
Married   4833.862847343175

In [34]:
predictors.remove("Cards")
selected.append("Cards")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 4820.137215634871
Age       4815.038962929925
Gender    4818.49079780915
Education 4819.079517749784
Married   4819.343761470236

In [35]:
predictors.remove("Age")
selected.append("Age")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 4817.83164970914
Gender    4815.900559823972
Education 4816.48995325468
Married   4816.468056622281

In [36]:
predictors.remove("Gender")
selected.append("Gender")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().aic
    print("{:<10}{}".format(candidate,score))

Ethnicity 4818.635974596303
Education 4817.333413601534
Married   4817.355705967809