# Credit - backward

In [88]:
import pandas as pd 
import statsmodels.api as sm
from statsmodels.formula.api import ols
pd.options.display.float_format = '{:.10f}'.format
df = pd.read_csv("Credit.csv").drop("Unnamed: 0", axis=1)

df.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.8910000000,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.0250000000,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.5930000000,7075,514,4,71,11,Male,No,No,Asian,580
3,148.9240000000,9504,681,3,36,11,Female,No,No,Asian,964
4,55.8820000000,4897,357,2,68,16,Male,No,Yes,Caucasian,331

Wir beginnen mit allen Variablen und berechnen die $p$-Werte für alle vorkommenden erklärenden Variablen:

In [94]:
predictors = set(df.columns)
predictors.remove("Balance")
selected = list(predictors)
formula = "{} ~ {}".format("Balance", ' + '.join(selected))
smf.ols(formula, data=df).fit().pvalues

Intercept                0.0000000000
Gender[T.Female]         0.2832368443
Married[T.Yes]           0.4107255745
Student[T.Yes]           0.0000000000
Ethnicity[T.Asian]       0.2347046731
Ethnicity[T.Caucasian]   0.4083088190
Limit                    0.0000000121
Rating                   0.0211221287
Income                   0.0000000000
Age                      0.0374312744
Cards                    0.0000540120
Education                0.4920745729
dtype: float64

Lassen die Variable weg mit dem grössten $p$-Wert und das ist Education

In [95]:
predictors.remove("Education")
selected = list(predictors)
formula = "{} ~ {}".format("Balance", ' + '.join(selected))
smf.ols(formula, data=df).fit().pvalues

Intercept                0.0000000000
Gender[T.Female]         0.2864840001
Married[T.Yes]           0.3845849442
Student[T.Yes]           0.0000000000
Ethnicity[T.Asian]       0.2333142753
Ethnicity[T.Caucasian]   0.3965189924
Limit                    0.0000000143
Rating                   0.0179340937
Income                   0.0000000000
Age                      0.0360867222
Cards                    0.0000534242
dtype: float64

Lassen wieder die Variable weg mit dem grössten $p$-Wert

In [96]:
predictors.remove("Ethnicity")
selected = list(predictors)
formula = "{} ~ {}".format("Balance", ' + '.join(selected))
smf.ols(formula, data=df).fit().pvalues

Intercept          0.0000000000
Gender[T.Female]   0.2973739647
Married[T.Yes]     0.4658032460
Student[T.Yes]     0.0000000000
Limit              0.0000000090
Rating             0.0210433168
Income             0.0000000000
Age                0.0298783133
Cards              0.0000427355
dtype: float64

Usw.

In [97]:
predictors.remove("Married")
selected = list(predictors)
formula = "{} ~ {}".format("Balance", ' + '.join(selected))
smf.ols(formula, data=df).fit().pvalues

Intercept          0.0000000000
Gender[T.Female]   0.2911679041
Student[T.Yes]     0.0000000000
Limit              0.0000000050
Rating             0.0245589516
Income             0.0000000000
Age                0.0340397841
Cards              0.0000340885
dtype: float64

In [98]:
predictors.remove("Gender")
selected = list(predictors)
formula = "{} ~ {}".format("Balance", ' + '.join(selected))
smf.ols(formula, data=df).fit().pvalues

Intercept        0.0000000000
Student[T.Yes]   0.0000000000
Limit            0.0000000050
Rating           0.0249515511
Income           0.0000000000
Age              0.0330904404
Cards            0.0000307524
dtype: float64