# Credit - forward

In [6]:
import pandas as pd 
import statsmodels.formula.api as smf

df = pd.read_csv("Credit.csv").drop("Unnamed: 0", axis=1)

df.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

Beginnen mit dem leeren Modell, fügen eine Variable hinzu und bestimmen den RSS-Wert. Das ist die Summe der Residuenquadrate (Abstand zu der Gerade, Ebene usw.). Kleiner RSS-Wert ist besser, da dann die Punkte näher an der Geraden, Ebene usw. liegen, also das Modell die Punkte genauer beschreibt.

In [7]:
# Choose all column names
predictors = set(df.columns)

# Remove the response variable
predictors.remove("Balance")

# Empty selected set of variables
selected = []

# Add one variable from predictors and calculate the RSS-value (which is here called ssr)
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().ssr
    print("{:<10}{}".format(candidate,score))

Income    66208744.5107842
Rating    21435122.032732937
Age       84339627.8817488
Cards     83709496.36968993
Education 84334430.74220678
Student   78681539.63888894
Married   84337197.13548377
Limit     21715656.65911369
Gender    84301019.9963956
Ethnicity 84321457.70952794

Der kleinste RSS-Wert hat Rating, also fügen wir diese Variable zu den ausgewählten Variablen dazu. 

Dann addieren wieder eine der übrig gebliebenen Variablen und fügen sie zum Modell hinzu und berechnen wieder den RSS-Wert.

In [8]:
# Remove the chosen variable from the predictors
predictors.remove("Rating")

# Add the chosen variable to the selected variables
selected.append("Rating")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().ssr
    print("{:<10}{}".format(candidate,score))

Income    10532541.29016962
Age       20786012.220216528
Cards     21296542.449293762
Education 21407879.418936443
Student   15699959.061316613
Married   21316912.951277886
Limit     21427162.19690806
Gender    21419056.62479064
Ethnicity 21384022.44676935

Wir wählen die Variable mit dem kleinsten RSS-Wert, das ist Income und fügen diese wieder zum Modell hinzu. Usw.

In [9]:
predictors.remove("Income")
selected.append("Income")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().ssr
    print("{:<10}{}".format(candidate,score))

Age       10442255.212097414
Cards     10530446.818049923
Education 10511722.198967572
Student   4227219.310606522
Married   10437473.375331793
Limit     10437996.42376773
Gender    10531593.458742898
Ethnicity 10465501.046613066

In [10]:
predictors.remove("Student")
selected.append("Student")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().ssr
    print("{:<10}{}".format(candidate,score))

Age       4182599.643021067
Cards     4216610.937353123
Education 4225819.80019829
Married   4214136.640772906
Limit     4032501.6636953535
Gender    4215051.036410771
Ethnicity 4204896.933222124

In [11]:
predictors.remove("Limit")
selected.append("Limit")
for candidate in predictors:
    formula = "{} ~ {}".format("Balance", ' + '.join(selected+[candidate]))
    score = smf.ols(formula, data=df).fit().ssr
    print("{:<10}{}".format(candidate,score))

Age       3994549.281264833
Cards     3866091.2058624555
Education 4026706.863006659
Married   4025841.8371663727
Gender    4019156.8299599215
Ethnicity 4014797.3445833256